{% extends 'base.html.twig' %}
{% set navigationItems = [
    { 'label': 'Accueil', 'link': '/' },
    { 'label': 'Nos Produits Bio', 'link': '/produits/nos-produits-bio' }
] %}

{% block content %}
	<div class="newPage">
		<h1>{{currentPage}}
			Bio</h1>
	</div>
	{{ render(controller('App\\Controller\\SearchController::search', { 'request': app.request })) }}
	<div id="presentation">
		<div class="content">
			<div class="text">

				<p>
					Nous vous proposons un large choix au rayon boissons !
				</p>
				<p>
					Jus de fruits, jus de légumes, boissons gazeuses, sirops, boissons lactofermentées, limonades, kéfir, thés glacés, bières, cidres, vins… Des boissons de la vie quotidienne et d’exception vous sont proposées.</p>

				<p>
					Durant les jours ensoleillés, nous mettons certaines boissons au frais afin de pouvoir vous rafraîchir dès votre sortie du magasin, pourquoi pas sur notre terrasse.</p>
			</div>
			<div class="image">
				<img src="{{ asset('assets/img/boissons.jpg') }}" alt="Boissons RouenBio">
			</div>
		</div>
	</div>
	<div id="clause">
		<p class="attention">* Veuillez contacter le magasin pour vérifier la disponibilité des produits en stock.
		</p>
		<p class="attention">* Le magasin se réserve le droit de modifier les prix à tout moment.
		</p>
	</div>
	{{ knp_pagination_render(boissons) }}
	<div class="card-container">
		{% for produit in boissons %}
			<div class="card">
				<div class="film img">
					<img src={{ asset('assets/img/') }} {{ produit.imageProduit }} alt="{{ produit.nomProduit }}" class="img-fluid" style="max-width: 100%; max-height: 100%;">
				</div>
				<h2 class="card-title">{{ produit.nomProduit }}</h2>
				<p class="card-description">{{ produit.description }}</p>
				<p class="card-origin">Origine:
					{{ produit.origine }}</p>
				<p class="card-price">Prix:
					{{ produit.prVenteTTC }}
					€</p>
				<a href="{{ path('produit.detail', {'id': produit.id}) }}" class="button">Afficher</a>
			</div>
		{% endfor %}
	</div>
{{ knp_pagination_render(boissons) }}
{% endblock %}
