{% extends 'base.html.twig' %}
{% set navigationItems = [
    { 'label': 'Accueil', 'link': '/' },
    { 'label': 'Nos Produits Bio', 'link': '/produits/nos-produits-bio' }
] %}
{% block content %}
	<div class="newPage">
		<h1>{{currentPage}}
			Bio</h1>
	</div>
	{{ render(controller('App\\Controller\\SearchController::search', { 'request': app.request })) }}
	<div id="presentation">
		<div class="content">
			<div class="text">
				<p>
					Le salé</p>
				<p>
					Sauces, condiments, huiles, riz, pâtes, biscuits apéritif, légumes en bocaux, terrines, plats cuisinés… Un large choix de produits de la vie quotidienne vous est proposé.</p>
				<p>
					Nos marques : Priméal, Pural, Moulin des Moines, Emile Noël, Bio Planète, Prosain, Bonneterre Danival, Autour du Riz…</p>
				<p>
					Le sucré</p>
				<p>
					Biscuits, gâteaux, chocolats, confitures, compotes, miels, pâtes à tartiner, mueslis, biscottes, thés, cafés, fruits secs, sucres, farines… Un large choix de produits de la vie quotidienne vous est proposé.</p>
				<p>Nos marques : Evernat, Bisson, Bonneterre Danival, Rapunzel, Mamie Bio, Perl’Amande, Jean Hervé, Saveurs Fruits, Mellidor, Prosain Favrichon, Destination…</p>
			</div>
			<div class="image">
				<img src="{{ asset('assets/img/epiceries.jpg') }}" alt="Epicerie RouenBio">
			</div>
		</div>
	</div>
	<div id="clause">
		<p class="attention">* Veuillez contacter le magasin pour vérifier la disponibilité des produits en stock.
		</p>
		<p class="attention">* Le magasin se réserve le droit de modifier les prix à tout moment.
		</p>
	</div>
	{{ knp_pagination_render(epiceries) }}
	<div class="card-container">
		{% for produit in epiceries %}
			<div class="card">
				<div class="film img">
					<img src={{ asset('assets/img/imageProduits/LogoBiomonde.png') }} alt="{{ produit.nomProduit }}" class="img-fluid" style="max-width: 100%; max-height: 100%;">
				</div>
				<h2 class="card-title">{{ produit.nomProduit }}</h2>
				<p class="card-description">{{ produit.description }}</p>
				<p class="card-origin">Origine:
					{{ produit.origine }}</p>
				<p class="card-price">Prix:
					{{ produit.prVenteTTC }}
					€</p>
				<a href="{{ path('produit.detail', {'id': produit.id}) }}" class="button">Afficher</a>
			</div>
		{% endfor %}
	</div>
	{{ knp_pagination_render(epiceries) }}
{% endblock %}
