{% extends 'base.html.twig' %}
{% set navigationItems = [
    { 'label': 'Accueil', 'link': '/' },
    { 'label': 'Nos Produits Bio', 'link': '/produits/nos-produits-bio' }
] %}
{% block content %}
	<div class="newPage">
		<h1>
			{{currentPage}}
		</h1>
	</div>
	{{ render(controller('App\\Controller\\SearchController::search', { 'request': app.request })) }}
	<div id="presentation">
		<div class="content">
			<div class="text">
				<p>
					Nous optons pour des fruits et légumes Bio et Demeter locaux (de Bretagne et de Normandie) lorsque cela est possible pour le bien de votre santé(cliquez ici pour en savoir plus sur nos produits locaux).Nous les proposons à des prix accessibles pour que chacun d’entre vous puisse avoir la chance de consommer des produits de haute qualité.De plus, nous aimons vous surprendre chaque semaine avec des produits d’exception !</p>
			</div>
			<div class="image">
				<img src="{{ asset('assets/img/fruits-et-legumes-bio-rouen.jpg') }}" alt="Fruits et Legumes RouenBio">
			</div>
		</div>
	</div>
	<div id="clause">
		<p class="attention">* Veuillez contacter le magasin pour vérifier la disponibilité des produits en stock.
		</p>
		<p class="attention">* Le magasin se réserve le droit de modifier les prix à tout moment.
		</p>
	</div>
	{{ knp_pagination_render(fruitsLegumes) }}
	<div class="card-container">
		{% for produit in fruitsLegumes %}
			<div class="card">
				<div class="film img">
					{% if produit.imageProduit is not empty %}
						<img src={{ asset('assets/img/imageProduits/') }} {{ produit.imageProduit }} alt="{{ produit.nomProduit }}" class="img-fluid" style="max-width: 100%; max-height: 100%;">
					{% else %}
						<img src="{{ asset('assets/img/imageProduits/LogoBiomonde.png') }}" alt="{{ produit.nomProduit }}" class="img-fluid" style="max-width: 100%; max-height: 100%;">
					{% endif %}
				</div>
				<h2 class="card-title">{{ produit.nomProduit }}</h2>
				<p class="card-description">{{ produit.description }}</p>
				<p class="card-origin">Origine:
					{{ produit.origine }}</p>
				<p class="card-price">Prix:
					{{ produit.prVenteTTC }}
					€</p>
				<a href="{{ path('produit.detail', {'id': produit.id}) }}" class="button">Afficher</a>
			</div>
		{% endfor %}
	</div>
	{{ knp_pagination_render(fruitsLegumes) }}
{% endblock %}
