{% extends 'base.html.twig' %}
{% set navigationItems = [
    { 'label': 'Accueil', 'link': '/' },
    { 'label': 'Nos Produits Bio', 'link': '/produits/nos-produits-bio' }
] %}
{% block content %}
	<div class="newPage">
		<h1>{{currentPage}}
			Bio</h1>
	</div>
	{{ render(controller('App\\Controller\\SearchController::search', { 'request': app.request })) }}
	<div id="presentation">
		<div class="content">
			<div class="text">
				<p>
					Pains</p>
				<p>
					Une diversité de pains vous est proposée chez Rouen Bio !
				</p>
				<p>Pains au levain de la ferme Saint Mamert, pains sans gluten du boulanger Le Petit Minotier , pains de mie, pains protéinés, au riz complet, au seigle…</p>
				<p>
					Vous pouvez commander le(s) pain(s) que vous souhaitez et le(s) récupérer en magasin le lundi, mercredi et vendredi.</p>
			</div>
			<div class="image">
				<img src="{{ asset('assets/img/pains-bio.jpg') }}" alt="">
			</div>
		</div>
	</div>
	<div id="clause">
		<p class="attention">* Veuillez contacter le magasin pour vérifier la disponibilité des produits en stock.
		</p>
		<p class="attention">* Le magasin se réserve le droit de modifier les prix à tout moment.
		</p>
	</div>
	{{ knp_pagination_render(pains) }}
	<div class="card-container">
		{% for produit in pains %}
			<div class="card">
				<div class="film img">
					<img src={{ asset('assets/img/') }} {{ produit.imageProduit }} alt="{{ produit.nomProduit }}" class="img-fluid" style="max-width: 100%; max-height: 100%;">
				</div>
				<h2 class="card-title">{{ produit.nomProduit }}</h2>
				<p class="card-description">{{ produit.description }}</p>
				<p class="card-origin">Origine:
					{{ produit.origine }}</p>
				<p class="card-price">Prix:
					{{ produit.prVenteTTC }}
					€</p>
				<a href="{{ path('produit.detail', {'id': produit.id}) }}" class="button">Afficher</a>
			</div>
		{% endfor %}
	</div>
	{{ knp_pagination_render(pains) }}
{% endblock %}
