{% extends 'base.html.twig' %}
{% set navigationItems = [
    { 'label': 'Accueil', 'link': '/' },
    { 'label': 'Nos Produits Bio', 'link': '/produits/nos-produits-bio' }
] %}

{% block content %}
	<div class="newPage">
		<h1>Produits
			{{currentPage}}
			Bio</h1>
	</div>
	{{ render(controller('App\\Controller\\SearchController::search', { 'request': app.request })) }}
	<div id="presentation">
		<div class="content">
			<div class="text">
				<p>
					Notre rayon surgelé s’agrandit !</p>

				<p>Découvrez notre rayon surgelés biologiques. Des produits sains et pratiques, cultivés avec soin pour préserver leur fraîcheur et leur valeur nutritive. Simplifiez vos repas sans compromis sur la qualité. Visitez notre magasin bio dès aujourd'hui !</p>
				<p>
					Nous vous proposons à présent des produits salés (frites, steaks hachés, poissons), du pollen et un large choix de glaces artisanales avec nos marques Jampi, Sojami, Hello Coco! ou encore Terre Adélice.</p>
			</div>
			<div class="image">
				<img src=" {{ asset('assets/img/surgeles.jpg') }} " alt="Surgeles RouenBio">
			</div>
		</div>
	</div>
	<div id="clause">
		<p class="attention">* Veuillez contacter le magasin pour vérifier la disponibilité des produits en stock.
		</p>
		<p class="attention">* Le magasin se réserve le droit de modifier les prix à tout moment.
		</p>
	</div>
	{{ knp_pagination_render(surgeles) }}
	<div class="card-container">
		{% for produit in surgeles %}
			<div class="card">
				<div class="film img">
					<img src={{ asset('assets/img/imageProduits/LogoBiomonde.png') }} alt="{{ produit.nomProduit }}" class="img-fluid" style="max-width: 100%; max-height: 100%;">
				</div>
				<h2 class="card-title">{{ produit.nomProduit }}</h2>
				<p class="card-description">{{ produit.description }}</p>
				<p class="card-origin">Origine:
					{{ produit.origine }}</p>
				<p class="card-price">Prix:
					{{ produit.prVenteTTC }}
					€</p>
				<a href="{{ path('produit.detail', {'id': produit.id}) }}" class="button">Afficher</a>
			</div>
		{% endfor %}
	</div>
	{{ knp_pagination_render(surgeles) }}
{% endblock %}
