{% extends 'base.html.twig' %}

{% set navigationItems = [
    { 'label': 'Accueil', 'link': '/' },
    { 'label': 'Inscription', 'link': '/register' }
] %}

{% block content %}
	<link rel="stylesheet" href="{{ asset('assets/styles/general/form.css') }}">

	<div class="newPage"></div>
	<div class="titleForm">
		<h1>Je me connecte</h1>
	</div>
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Bonjour,
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Deconnexion</a>
			</div>
		{% endif %}

		<form class="login-form" action="{{ path('app_login') }}" method="post">
			<div class="form-group">
				<label for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
			</div>
			<div class="form-group">
				<label for="inputPassword">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
			</div>
			<div class="checkbox mb-3">
				<label>
					<input type="checkbox" name="_remember_me">
					Se souvenir de moi
				</label>
			</div>
			<div class="loginPage">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<button class="button button-login" type="submit">Se connecter</button>
				<p>
					<b>Pas encore de compte chez nous?</b>
				</p>
				<button class="button button-login">
					<a href="{{ path('app_register') }}">Inscrivez-vous</a>
				</button>
			</div>
		</form>


	{% endblock %}
