{% extends 'base.html.twig' %}
{% set navigationItems = [
    { 'label': 'Accueil', 'link': '/' },
    { 'label': 'Deconnexion', 'link': '/logout' }
] %}


{% block content %}
<link rel="stylesheet" href="{{ asset('assets/styles/general/userProfil.css') }}">
	<div class="newPage">
			<h1>{{currentPage}}</h1>
		</div>
	{% if is_granted('ROLE_ADMIN') %}
		<p class="greetingsProf">Bienvenue,
			{{ app.user.nom }}
			{{ app.user.prenom }}</p>
		<a href="{{ path('admin') }}" class="button">Administration</a>
	{% elseif is_granted('ROLE_ADMIN') %}
		<p class="greetingsProf">Bienvenue,
			{{ app.user.nom }}
			{{ app.user.prenom }}</p>
	{% endif %}

	<table class="table">
		<tbody>
			<tr></tr>
			<tr>
				<th>Email</th>
				<td>{{ user.email }}</td>
</tr>
			<tr></tr>
			<tr></tr>
			<tr>
				<th>Points fidelité</th>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ user.nom }}</td>
			</tr>
			<tr>
				<th>Prénom</th>
				<td>{{ user.prenom }}</td>
			</tr>
			<tr>
				<th>Téléphone</th>
				<td>{{ user.telephone }}</td>
			</tr>
			<tr>
				<th>Adresse</th>
				<td>{{ user.adresse }}</td>
			</tr>
			<tr>
				<th>Code postale</th>
				<td>{{ user.codePostale }}</td>
			</tr>
			<tr>
				<th>Ville</th>
				<td>{{ user.ville }}</td>
			</tr>
			<th>Date de création</th>
			<td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
		</tbody>
	</tr>

</tbody></table>
<div><a href="{{ path('app_user_edit', {'id': user.id}) }}" class="button">Modifiez votre profile</a>
<a href="{{ path('cart', {'id': user.id}) }}" class="button">Mon Panier</a></div>
{% endblock %}
