{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('assets/styles/postuler.css') }}">
{% endblock %}
{% set navigationItems = [
    { 'label': 'Accueil', 'link': '/' },

] %}
{% block content %}
	<div class="newPage">
		<h1>{{currentPage}}</h1>
	</div>

	{{ form_start(form) }}
	{{ form_row(form.nom) }}
	{{ form_row(form.prenom) }}
	{{ form_row(form.email) }}
	{{ form_row(form.telephone) }}
	{{ form_row(form.message) }}
	{{ form_row(form.cvFile) }}
	<button type="submit">Postuler</button>
	{{ form_end(form) }}
{% endblock %}
